<% $.each(this, function(i, activity){ %>
  <li class="grid" <%= ($el) -> $el.model(activity) %>>
  	<a href="activityDeatils.html?activity=<%= activity.id %>" class='activityDetails'>
		GRID <br>
		<%= activity.title %>

		<br />
		<%= activity.description %>
    </a>
  </li>
<% }) %>